
run = "npm run dev"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 80
externalPort = 8080

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
