astroid==3.2.3
charset-normalizer==3.3.2
docker==7.1.0
docutils==0.21.2
exceptiongroup==1.2.2
flake8==7.1.0
Flask==3.0.3
jupyter_server==2.14.2
mkdocs==1.6.0
mypy==1.10.1
pylint==3.2.5
pytest==8.2.2
requests==2.32.3
Sphinx==7.3.7
urllib3==2.2.2
wrapt==1.16.0
