html
<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var form = document.getElementById('form');
            var input = document.getElementById('input');
            var messages = document.getElementById('messages');

            form.onsubmit = function (e) {
                e.preventDefault();
                socket.send(input.value);
                input.value = '';
            };

            socket.on('message', function (msg) {
                var li = document.createElement('li');
                li.textContent = msg;
                messages.appendChild(li);
            });
        });
    </script>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form">
        <input id="input" autocomplete="off">
        <button>Send</button>
    </form>
</body>
</html>
